*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

/* background */
.container{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
	url(./img/background.png);
	background-position: center;
	background-size: cover;
	padding-left: 8%;
	padding-right: 8%;
	box-sizing: border-box;
}

.navbar{
	height: 12%;
	display: flex;
	align-items: center;
}	

.logo{
	width: 70px;
	cursor: pointer;
}

.login-icon{
	width: 80px;
	cursor: pointer;
	margin-left: 40px;
	
}

nav{
	flex: 1;
	text-align: right;
}

nav ul li{
	list-style: none;
	display: inline-block;
	margin-left: 40px;
}

nav ul li a{
	text-decoration: none;
	color: #fff;
	font-size; 13px;
}

.row{
	display: flex;
	height: 88%;
	align-items: center;
}

.col{
	flex-basis: 50%;
}

h1{
	color: #967800;
	font-size: 100px;
}

p{
	color: #fff;
	font-size: 14px;
	line-height: 20px;
}

button{
	width: 110px;
	color: #fff;
	font-size: 20px;
	padding: 120 px 0;
	background: #967800;
	border: 0;
	border-radius: 24px;
	outline: none;
	margin-top: 15px;
	box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,
	rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
	height: 38px;
}

/* home 8 */
.card{
	width: 180px;
	height: 200px;
	display: inline-block;
	border-radius: 10px;
	padding: 15px 25px;
	box-sizing: border-box;
	cursor: pointer;
	margin: 10px 15px;
	background-position: center;
	background-size: cover;
	transition: transform 0.5s;
}

.card1{
	background-image: url(./img/image1.jpg);
}
.card2{
	background-image: url(./img/image2.jpg);
}
.card3{
	background-image: url(./img/image3.jpg);
}
.card4{
	background-image: url(./img/image4.jpg);
}

.card:hover{
	transform: translateY(-10px)
}

h5{
	color: #967800;
	text-shadow: 0 0 15px #000000;
}

/*about*/
/* log in */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  background: #dfe9f5;
}
.wrapper{
  width: 330px;
  padding: 2rem 0 1rem 0;
  margin: 50px auto;
  background: #fff;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
h1{
  font-size: 2rem;
  color: #07001f;
}
p{
  margin-bottom: 1.7rem;
}
form input{
  width: 85%;
  outline: none;
  border: none;
  background: #dfe9f5;
  padding: 12px 14px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.recover{
  text-align: right;
  font-size: 0.8rem;
  margin: 0.2rem 1.7rem 0 0;
}
.recover a{
  text-decoration: none;
  color: #07001f;
}
button{
  font-size: 1.1rem;
  margin-top: 1rem;
  padding: 8px 0;
  border-radius: 5px;
  outline: none;
  border: none;
  width: 85%;
  background: tomato;
  color: #fff;
  cursor: pointer;
}
button:hover{
  background: rgba(122, 30, 30, 0.767);
}
.or{
  font-size: 0.8rem;
  margin-top: 1.5rem;
}
.icons i{
  color: #07001f;
  padding: 00.8rem 1.5rem;
  border-radius: 10px;
  margin-left: .9rem;
  font-size: 1.5rem;
  cursor: pointer;
  border: 2px solid #dfe9f5;
}
.icons i:hover{
  color: #fff !important;
  background: #07001f;
  transition: 1s;
}
.icons i:first-child{
  color: green;
}
.icons i:last-child{
  color: blue;
}
.not-member{
  font-size: 0.8rem;
  margin-top: 1.4rem;
}
.not-member a{
  color: tomato;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
